<div class="container">
  <div class="row">
    <div class="col-1"> 
    </div>
    <div class="col header-img">
      <img src="assets/headerPict.png">
    </div>
  </div>
</div>
<div class="container">
  <div class="row g-0 content">
    <div class="col-1"></div>
    <div class="col-4 menu">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Фильтр 1
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          Фильтр 1
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Фильтр 1
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          Фильтр 1
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          Фильтр 1
        </label>
      </div>
    </div>
    <div class="col-19 content"><div class="map">
      <ya-map [center]="[55.751952, 37.600739]" [zoom]="12">
        <ya-placemark [geometry]="[55.751952, 37.600739]"></ya-placemark>
      </ya-map>
    </div>
  </div>
</div>

</div>
