<div class="conteiner">
    <div class="row">
        <div class="col-1"></div>
        <div class="col header-img">
            <img src="assets/headerPict.png">
        </div>
    </div>
</div>
<div class="container main-content">
    <div class="row">
        <div class="col-6"></div>
        <div class="col mb-3">
            <label for="exampleInputName" class="form-label">Имя: </label>
            <input type="name" class="form-control" id="exampleInputName1" >
          </div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col mb-3">
            <label for="exampleInputAddress" class="form-label">Адресс:</label>
            <input type="address" class="form-control" id="exampleInputAddress1">
          </div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col mb-3">
            <label for="exampleInputPhoneNumber" class="form-label">Номер телефона:</label>
            <input type="phone-number" class="form-control" id="exampleInputPhoneNumber1">
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-outline-warning col-8 col-sm-4">Принять</button>
    </div>
</div>

