/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
$grid-columns:24;
@import '~bootstrap/scss/bootstrap';
.header-img {
    margin-top: 15.87px;
    margin-bottom: 15.87px;
}
.container {
    max-width: 100%;
}
.menu {
    padding-top: 42px;
}
.form-check-label {
    font-family: SF UI Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #000000;
}
.content {
    background: #F5F5F5;
}
.form-control {
    max-width: 50vw;
}
.main-content {
    margin-top: 50px;
}
.btn {
    margin: 0 auto;
}
.selecter {
    margin-left: 10px;
    margin-right: -10px;
}